/* couleur en plus rouge : #F05454 ou jaune #FFD369*/



*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    background-color: rgba(30,33,48,1);
    color: #D6E5E3;
}
header{
    height: 13vh;
    width: 100%;
    background-image: linear-gradient( 180.2deg,  rgba(30,33,48,1) 6.8%, rgba(74,98,110,1) 131% );}
header h1{
    font-size: 7vh;
    font-weight: 100;
}
header h3{
    font-weight: 100;
}
header h3:hover{
    font-weight: 200;
}
h4{
    font-weight: 100;
}
.membrePul{
    font-size: 4vh;
    color: #D6E5E3;
}
.butPul{
    transition: all 500ms linear;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #D6E5E3;
    border-radius: 5px;
    color: #D6E5E3;
}
.butPul:hover{
    transition: all 500ms linear;
    background-color: #D6E5E3;
    box-shadow: 1px -1px 6px #9FD8CB;
    color: #222831;
}
.pulPol {
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
}
@keyframes helloPul {
0%{
    color: rgba(0, 0, 0, 0);
    text-shadow: none;
}
70%{
    text-shadow: none;
}
80%{
    color: #D6E5E3;
    text-shadow: 3px -3px 20px #9FD8CB;
}
100%{
    color: #D6E5E3;
}
}
.hello{
    animation: 3s helloPul;
}
.modal-content{
    background-image: linear-gradient( 180.2deg,  rgba(30,33,48,1) 6.8%, rgba(74,98,110,1) 131% );
}
.modal-header{
    background-color: #1E2130;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 30px 20px;
    padding: 0;
    box-shadow: 2px 3px 8px #9FD8CB;
    border-radius: 5px;
}
.modal-header .form-header{
    flex: 50%;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}
.modal-header .form-header.active{
    box-shadow: inset 1px 1px 2px rgb(159 216 203 / 55%),inset -1px 1px 2px rgb(159 216 203 / 55%),inset -1px -1px 2px rgb(159 216 203 / 55%),inset 1px -1px 2px rgb(159 216 203 / 55%);
    border-color: #D6E5E3;
    transition: border-color 0.3s, box-shadow 0.3s;
}
.modal-body{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}
form{
    flex : 0 0 100%;
}
.toggleForm{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3S;
}
.form-control{
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgb(159 216 203);
    background: none;
    outline: none;
    color: #D6E5E3;

}
.form-control:focus{
    box-shadow: none;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgb(159 216 203);
    background: none;
    outline: none;
    color: #D6E5E3;
}
.form-control{
    box-shadow: none;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgb(159 216 203);
    background: none;
    outline: none;
    color: #D6E5E3;
}
.form-control::placeholder{
    color: rgba(214, 229, 227, 0.5);
}
.form-control::target-text{
    background: none;

}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}